/* Themify Customize Styling */
a, body #headerwrap a, body #footerwrap a, body #main-nav a, body .sidemenu a, body .post-nav .arrow, body .widget .social-links a, body .widget .social-links a:hover, body .footer-nav li a, body .post-title a, .woocommerce ul.products li.product .woocommerce-loop-product__title {	
	color: rgba(0,0,0,0.00); 
}
#headerwrap {	background: none;
	background-color: #4a783f; 
}
#headerwrap.fixed-header, .transparent-header #headerwrap.fixed-header {	background: none;
	background-color: rgba(255,255,255,0.00); 
}
#site-logo {	display: none; 
}
#site-description {	display: none; 
}
#main-nav a {	
	font-family:Roboto;	font-size:1px;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: rgba(33,107,100,0.00); 
}
#main-nav-wrap #main-nav a:hover {	background: none;
	background-color: #226b63; 
}
#main-nav .current_page_item a, #main-nav .current-menu-item a {	background: none;
	background-color: #226b63; 
}
#footerwrap {	background: none;
	background-color: #0d4542;
	border: 1px solid #0d4542; 
}
#footer {	
	color: #dfa300; 
}
#footer a:hover {	
	color: #ffffff; 
}
#footer .footer-widgets {	
	color: #ffffff; 
}

/* Themify Custom CSS */

body {
    font: 1em/1.85em 'Open Sans', "Arial", sans-serif;
    word-wrap: break-word;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}





element.style {
}

  
body {
    font: 1em/1.85em 'Open Sans', "Arial", sans-serif;
    word-wrap: break-word;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
@media screen and (max-width: 480px) { /* Themify Customize Styling */
body {	
	color: #ffffff; 
}
#headerwrap {	background: none;
	background-color: #4a783f; 
}
#footerwrap {	background: none;
	background-color: #0d4542; 
}
#footer {	
	color: #dfa300; 
}
#footer a:hover {	
	color: #ffffff; 
}
 }.header-leftpane.mobile_menu_active #pagewrap.site #headerwrap #menu-icon, .header-rightpane.mobile_menu_active #pagewrap.site #headerwrap #menu-icon, #headerwrap #menu-icon { 
	color: rgba(255,255,255,0.00); }